version: '3.8'

services:
  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    restart: always
    user: root
    environment:
      - JENKINS_OPTS=--httpPort=8080
    volumes:
      - ./jenkins-data:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - nginx_network
    expose:
      - "8080"
    extra_hosts:
      - "gitlab.smartseoapp.com:3.39.6.147"  # <--- 여기에 추가

networks:
  nginx_network:
    external: true
