# macOS 시스템 파일
.DS_Store

# Windows 시스템 파일
Thumbs.db
ehthumbs.db
desktop.ini

# Obsidian 설정 폴더 (원할 경우 제외)
.obsidian/

# 임시 캐시 또는 플러그인 관련
# .obsidian/plugins/
.obsidian/workspace
.obsidian/workspace.json
# .obsidian/cache

# 백업 파일
*.bak
*.tmp
*~

# Node 관련 (만약 사용 중이라면)
node_modules/
package-lock.json

# Log 파일
*.log

# 기타 무시하고 싶은 개인 파일
Templates/

02-KNOWLEDGE/devops/resource/tools/gitlab/gitlab-config/
02-KNOWLEDGE/devops/resource/tools/gitlab/gitlab-logs/
02-KNOWLEDGE/devops/resource/tools/gitlab/gitlab-data/