[submodule "02-KNOWLEDGE/devops/configuration_management/git/git-basic"]
	path = 02-KNOWLEDGE/devops/configuration_management/git/git-basic
	url = https://github.com/smshack/git-basic.git
[submodule "02-KNOWLEDGE/devops/resource/docker-resource"]
	path = 02-KNOWLEDGE/devops/resource/docker-resource
	url = https://github.com/smshack/docker-resource.git
