version: '3.8'

services:
  gitlab:
    image: 'gitlab/gitlab-ce:latest'
    restart: always
    hostname: 'gitlab.smartseoapp.com'
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'http://gitlab.smartseoapp.com'
        gitlab_rails['gitlab_shell_ssh_port'] = 22
    ports:
      - '8080:80'   # GitLab 내부용 포트 (Nginx가 80을 점유)
    volumes:
      - './gitlab-config:/etc/gitlab'
      - './gitlab-logs:/var/log/gitlab'
      - './gitlab-data:/var/opt/gitlab'
    shm_size: '256m'
    networks:
      - gitlab-net

  nginx:
    image: nginx:latest
    container_name: gitlab-nginx
    restart: always
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/ssl:/etc/nginx/ssl
    depends_on:
      - gitlab
    networks:
      - gitlab-net

networks:
  gitlab-net:
    driver: bridge
