version: '3.8'

services:
  gitlab:
    image: 'gitlab/gitlab-ce:latest'
    container_name: gitlab
    restart: always
    hostname: 'gitlab.smartseoapp.com'
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'http://gitlab.smartseoapp.com'
        gitlab_rails['gitlab_shell_ssh_port'] = 22
    ports:
      - '8080:80'   # 외부 접근은 nginx가 처리, 내부용 포트
    volumes:
      - ./gitlab-config:/etc/gitlab
      - ./gitlab-logs:/var/log/gitlab
      - ./gitlab-data:/var/opt/gitlab
    shm_size: '256m'
    networks:
      - nginx_network

networks:
  nginx_network:
    external: true   # ✅ nginx에서 만든 네트워크를 재사용
